<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="Microsoft.ACE.OLEDB" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Password=cindy;Mode=Read;Extended Properties='{1};HDR=Yes;IMEX=1;ReadOnly=true'" />
		<add key="DataSource" value="win8r2" />
		<add key="Initial Catalog" value="SalesHistory" />
		<add key="Supplier" value="" />
		<!--config brand--> 
		<add key="Brand" value="VAL/YOO/OBE/JAP/DOP/DRA/CHW/SAV/THM/OBA" />
		<!--<add key="Brand" value="DRA" />-->
		<add key="Country" value="AU" />
		<!--<add key="Onhand-Onhold" value="NO" />-->
		<!--config excel sheet name--> 
		<add key="sheetName" value="TOTAL UNITS/TOTAL $/ASN UNITS/ASN $/SMT UNITS/SMT $/OTH UNITS/OTH $" />

		<!--config to the email, seperate account and password with '/'-->
		<add key="EmailFrom" value="xxxx@gmail.com/xxxx" />
		<add key="EmailTo" value="allenl@oriental.com.au" />
		<add key ="Host" value="smtp.gmail.com"/>
		<add key ="Port" value="587"/>
			

	</appSettings>
	
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>